.menu-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1px;
  padding-left: 1px;

  $b: &;

  &__button {
    text-align: center;
    width: 50%;
    box-sizing: border-box;
    border: 1px solid $color-blue-light;
    margin: -1px 0 0 -1px;
    position: relative;
    transition: none;

    &::after {
      content: '';
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      box-sizing: border-box;
      border: 1px solid $color-main;
      opacity: 0;
      transition: opacity $ease-main;
      pointer-events: none;
      z-index: 2;
    }

    &:hover::after {
      opacity: 1;
    }
  }

  &__wrap {
    padding: 16px 10px 15px;
  }

  &__image {
    height: 29px;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__text {
    color: $color-blue-light-2;
    font-size: 13px;
    line-height: normal;
    transition: color $ease-main;

    &:not(:first-child) {
      margin-top: 9px;
    }

    #{$b}__button:hover & {
      color: white;
    }
  }
}
