mixin menu-footer()
  - var buttons = ["icon_support.png", "icon_settings.png"];

  +b.menu-footer
    +e.top
      .container
        +e.A.logo(href="#" target="_blank")
          img(src="assets/images/logo.png")

        +e.buttons
          each button in buttons
            +e.BUTTON.button(type="button")
              img(src="assets/images/" + button)

    +e.bottom
      .container
        +e.P.copyright Accessibility by UserWay.org
        +e.A.donate(href="#" target="_blank") Donate

mixin menu-buttons()
  +b.menu-buttons
    each button in getData('menu-buttons')
      +e.BUTTON.button(type="button")
        +e.wrap
          +e.image
            img(src="assets/images/" + button.icon)
          +e.P.text!= button.text

mixin menu()
  +b.menu.js-menu&attributes(attributes)
    +e.header
      .container
        +e.P.title Accessibility Menu
        +e.IMG.close(src="assets/images/close.png").js-menu-close

    +e.content
      .container
        +menu-buttons.__buttons
        +e.actions
          +button('button')(type="button").__button Reset all
          +button('button')(type="button").__button Move/Hide panel
          +button('button')(type="button").__button White label this widget

    +menu-footer.__footer

mixin ui-kit-menu()
  +ui-section
    +ui-section-head
      +ui-title Компонент menu
      +ui-path
        p Компонент: components/menu/menu
      +ui-description
        p Описание компонента

    +ui-section-content()
      +menu

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
