.menu {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 290px;
  background-color: $color-blue;
  border-radius: 8px 0 0 8px;
  overflow: hidden;
  transition: transform $ease-main;
  transform: translate3d(100%, 0, 0);

  &.is-active {
    transform: translate3d(0, 0, 0);
  }

  $b: &;

  // Header
  &__header {
    padding: 22px 0 23px;
    background-color: $color-main;

    .container {
      display: flex;
      align-items: center;
    }
  }

  &__title {
    flex: 1;
    margin-right: 20px;
    color: white;
    font-size: 16px;
    line-height: normal;
  }

  &__close {
    width: 13px;
    height: 13px;
    flex-shrink: 0;
    cursor: pointer;
    transition: opacity $ease-main;

    &:hover {
      opacity: .5;
    }
  }

  // Content
  &__content {
    flex-grow: 1;
    overflow: auto;
    width: 100%;
    padding: 14px 0;
  }

  &__buttons {

  }

  &__actions {
    display: flex;
    margin-right: -5px;
    flex-wrap: wrap;
  }

  &__button {
    flex: 1;
    min-width: 40%;
    margin: 14px 5px 0 0;
  }

  // Footer
  &__footer {

  }
}
