.burger-button {
  display: block;
  appearance: none;
  padding: 10px 15px;
  border-radius: 5px;
  background: $color-main;
  color: white;
  font-size: 16px;
  margin: 20px;
  transition: background-color $ease-main, box-shadow $ease-main, transform $ease-main;
  margin-left: auto;

  $b: &;

  &:hover {
    background-color: $color-main-light;
    box-shadow: 0 10px 10px -5px rgba($color-main, .5);
    transform: translate3d(0, -5px, 0);
  }
}
